<h3 class="page-header mt0">Gestion des flux rss</h3>

<div class="panel panel-info">
    <div class="panel-body">
        <whform label="Nom du flux" ng-model="data.Page.rss_name"></whform>
        <whform label="Description" ng-model="data.Page.rss_description" tag="textarea"></whform>
        <whform label="Niveau" ng-model="data.Page.rss_niveau" options="{all:'Tous les enfants', direct:'Uniquement les enfants directs'}"></whform>
    </div>
</div>