<h3 class="page-header mt0">Référencement</h3>

<div class="panel panel-info">

    <div class="panel-body">

        <whform ng-model="data.Page.meta_title" label="Balise title" legende="nombre de caractères : {{data.Page.meta_title.length}}"></whform>
        <whform ng-model="data.Page.meta_description" label="Balise meta description" tag="textarea"  legende="nombre de caractères : {{data.Page.meta_description.length}}"></whform>

    </div>

</div>