<h3 class="page-header mt0">Gestion des droits</h3>

<div class="panel panel-info">
    <div class="panel-body">
        <table class="table table-bordered table-hover bg-white">
            <tbody>
                <tr style="font-weight: bold">
                    <td>Nom du groupe</td>
                    <td>Voir</td>
                    <td>Publier</td>
                    <td>Editer</td>
                    <td>Supprimer</td>
                </tr>
            </tbody>
        </table>
        <a ng-click="addGroup()" class="btn btn-default">Ajouter un groupe</a>
    </div>
</div>