body{padding-top:80px}h1{font-weight:300;font-size:30px;line-height:28px}h1 span{font-size:20px;display:block}h2{font-size:30px;line-height:30px}#zone_metier .col-md-4{width:32%;float:none;display:inline-block;vertical-align:top}#zone_metier .col-md-4 a p{color:#000}#zone_metier .col-md-4 a:hover h5{text-decoration:underline}
