<?php $this->element('balises_metas', array('metas' => $page['Page'])); ?>
<?=$this->element('caroussel');?>

<div class="container">
      <div class="display-table-stat">
				
                    <div class="col-md-12 padding-top48">
                        <div class="postslider">
<h1><?=$page['Page']['sous_titre'];?></h1>
                            <div class="line-height26"><?=$page['Page']['body'];?></div>
                        </div>
                    </div>
					                    
     </div>


</div>
<?=$this->element('nos-services');?>


<?php 
//$portfolioItems
//$ContentModules
//$metiers
//$actus
?>

