


<?=$this->element('caroussel');?>
<?=$this->element('produits-accueil');?>
<?=$this->element('logos-partenaires');?>

<!--
Syntaxe pour $page : 
<h1><?=$page['Page']['h1'];?></h1>

<div>
    <?=$page['Page']['body'];?>
</div>

<?php 
//$portfolioItems
//$ContentModules
//$metiers
//$actus
?>
-->
