.parallax_banner_wrapper {width:100%; height: 480px; overflow: hidden; position: relative; font-family: 'chunkfiveroman', sans-serif; background: #ffffff;}

.parallax_banner_wrapper img {display: block; position: absolute; top:0; left: 0; z-index:2; max-width: none !important;}
.parallax_banner_wrapper .banner_text_wrapper {position: absolute; z-index: 5; top:0; left: 0;}
.parallax_banner_wrapper .banner_text {width:1920px; display:table-cell; vertical-align: middle; height: 480px;  text-align: center;}
.parallax_banner_wrapper .banner_text_inner {font-size: 46px !important; line-height: 46px !important; font-weight: 400; color: #ffffff; display: inline;}




/*			Responsive			*/

/* -------------------------------------------------------------- */
/* --- REPSONSE 768px ------------------------------------------- */
/* -------------------------------------------------------------- */
@media screen and (max-width:980px) {
	.parallax_banner_wrapper {height: 360px;}
	.parallax_banner_wrapper .banner_text {height: 360px;}

}
/* -------------------------------------------------------------- */
/* --- REPSONSE 440px ------------------------------------------- */
/* -------------------------------------------------------------- */
@media screen and (max-width:768px) {
	.parallax_banner_wrapper {height: 220px;}
	.parallax_banner_wrapper .banner_text {height: 220px;}
}
/* -------------------------------------------------------------- */
/* --- REPSONSE 300px ------------------------------------------- */
/* -------------------------------------------------------------- */

@media screen and (max-width:440px) {
	.parallax_banner_wrapper {height: 160px;}
	.parallax_banner_wrapper .banner_text {height: 160px;}
}