<div class="row">
    <div class="col-md-12">
        <?php if(is_object($content['content']->embed)) echo $content['content']->embed; ?>

        <?php

        debug($content['content']->video->File);

        $dossier = (preg_replace('#^(.*)'.$content['content']->video->File->slug.'(.*)$#', '$1', $content['content']->video->File->url));


        $fichier = $dossier.$content['content']->video->File->slug;


        if(is_object($content['content']->video)) {

            echo '<video controls="controls">';
            if(is_file(APP.'htdocs'.$fichier.'.mp4')) echo '<source src="'.$fichier.'.mp4'.'" type="video/mp4" />';
            if(is_file(APP.'htdocs'.$fichier.'.webm')) echo '<source src="'.$fichier.'.webm" type="video/webm" />';
            if(is_file(APP.'htdocs'.$fichier.'.ogv')) echo '<source src="'.$fichier.'.ogv" type="video/ogg" />';
            echo 'Votre navigateur ne permet pas de lire cette video. ';
            echo '</video>';



        } ?>

    </div>
</div>
