<div ng-controller="RightsEditCtrl">
    <div class="panel panel-info ng-scope">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Chemin</th>
                        <th>Administration</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="aco in Acos">
                            <td ng-if="aco.Indent == 1" colspan="4" style="background-color: #E6E6E6; color: #333333;">
                                <strong>{{ aco.Aco.alias }}</strong>
                            </td>
                            <td ng-if="aco.Indent != 1">
                                <strong>{{ aco.Aco.alias }}</strong>
                            </td>
                            <td ng-if="aco.Indent != 1">{{ aco.Action }}</td>
                            <td ng-if="aco.Indent != 1">
                                <button ng-click="whGrant(Aro.Aro.id, aco.Aco.id, aco.Action)" class="btn btn-info btn-xs"><i class="fa fa-check"></i></button>
                                <button ng-click="whInherit(Aro.Aro.id, aco.Aco.id, aco.Action)" class="btn btn-success btn-xs"><i class="fa fa-arrow-down"></i></button>
                                <button ng-click="whDeny(Aro.Aro.id, aco.Aco.id, aco.Action)" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>