<h3>
    Tableau de bord
    <small>Bienvenue</small>
</h3>

<div ng-controller="DashboardCtrl">

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <!-- START panel-->
            <div class="panel panel-primary" ng-click="$state.transitionTo('app.actualites.index')">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <em class="fa fa-newspaper-o fa-5x"></em>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="text-lg">{{data.Actualite.nbr}}</div>
                            <p class="m0">Dernier le {{data.Actualite.date | date:'dd/MM/yyyy'}}</p>
                        </div>
                    </div>
                </div>
                <a class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                    <span class="pull-left">Voir tous les articles</span>
            <span class="pull-right">
               <em class="fa fa-chevron-circle-right"></em>
            </span>
                </a>
                <!-- END panel-->
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <!-- START panel-->
            <div class="panel panel-green" ng-click="$state.transitionTo('app.agenda.index')">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <em class="icon-calendar fa-5x"></em>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="text-lg">{{data.Even.nbr}}</div>
                            <p class="m0">Prochain le {{data.Even.date | date:'dd/MM/yyyy'}}</p>
                        </div>
                    </div>
                </div>
                <a class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                    <span class="pull-left">Voir l’agenda</span>
            <span class="pull-right">
               <em class="fa fa-chevron-circle-right"></em>
            </span>
                </a>
            </div>
            <!-- END panel-->
        </div>
        <div class="col-lg-3 col-md-6">
            <!-- START panel-->
            <div class="panel panel-warning" ng-click="$state.transitionTo('app.messagerie.index')">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <em class="icon-envelope fa-5x"></em>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="text-lg">{{data.NewsletterCampaign.nbr}}</div>
                            <p class="m0">Dernier envoi <strong>le {{data.NewsletterCampaign.date | date:'dd/MM/yyyy'}}</strong></p>
                        </div>
                    </div>
                </div>
                <a class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                    <span class="pull-left">Aller à la messagerie</span>
            <span class="pull-right">
               <em class="fa fa-chevron-circle-right"></em>
            </span>
                </a>
            </div>
            <!-- END panel-->
        </div>
        <div class="col-lg-3 col-md-6">
            <!-- START panel-->
            <div class="panel panel-danger" ng-click="$state.transitionTo('app.pages.index')">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <em class="icon-directions fa-5x"></em>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="text-lg">{{data.Page.nbr}}</div>
                            <p class="m0">Dont {{data.PageNonPub.nbr}} non publiées</p>
                        </div>
                    </div>
                </div>
                <a class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                    <span class="pull-left">Gérer vos pages</span>
            <span class="pull-right">
               <em class="fa fa-chevron-circle-right"></em>
            </span>
                </a>
            </div>
            <!-- END panel-->
        </div>
    </div>


    <div class="row">
        <!-- START dashboard main content-->
        <div class="col-lg-7">
            <!-- START chart-->
            <div class="row">
                <div class="col-lg-12">
                    <!-- START widget-->
                    <div id="panelChart9" ng-controller="FlotChartController" class="panel panel-default">
                        <div class="panel-heading">
                            <paneltool tool-collapse="tool-collapse" tool-refresh="traditional"></paneltool>
                            <div class="panel-title">Statistiques de visites</div>
                        </div>
                        <div collapse="panelChart9" class="panel-wrapper">
                            <div class="panel-body">
                                <div data-source="{{WH_ROOT}}/admin/google/google/home" class="chart-spline flot-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END widget-->
                </div>
            </div>
            <!-- END chart-->
        </div>

        <div class="col-lg-5">

            <div class="panel">
                <div class="panel-heading"><div class="panel-title">Derniers Articles</div></div>

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="panel">
                <div class="panel-heading"><div class="panel-title">Dernieres Pages créées</div></div>

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</div>