  <!-- Contant Slider Section -->
        <section id="contant" class="wow fadeIn ptb ptb-sm-80">
            <div class="owl-carousel content-carousel content-slider">
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mb-sm-30">
                                <img src="/mazel/img/moc-1.png" alt="" />
                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <h3>Flexible & Customizable</h3>
                                <div class="spacer-15"></div>
                                <p>Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.</p>
                                <p>porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet</p>
                                <div class="spacer-15"></div>
                                <a class="btn btn-md btn-black">Buy this Theme</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 mb-sm-30">
                                <h3>Multipages & Onepage</h3>
                                <div class="spacer-15"></div>
                                <p>Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.</p>
                                <p>porttitor eu consequat vitae Phasellus viverra nulla.</p>
                                <div class="spacer-15"></div>
                                <a class="btn btn-md btn-black">Download Theme</a>
                            </div>
                            <div class="col-md-6 col-md-offset-1">
                                <img src="/mazel/img/moc-1.png" alt="" />
                            </div>

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mb-sm-30">
                                <img src="/mazel/img/moc-2.png" alt="" />
                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <h3>Fully Responsive</h3>
                                <div class="spacer-15"></div>
                                <p>Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.</p>
                                <p>porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet</p>
                                <div class="spacer-15"></div>
                                <a class="btn btn-md btn-black">Buy this Theme</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contain Slider Section -->
