<!-- Process -->
        <section id="process" class="ptb ptb-sm-80">
            <div class="wow fadeInLeft container text-center">
                <h3>Easy Process</h3>
                <div class="spacer-60"></div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="tipped" data-title="Step1 - Skype Interview" data-tipper-options='{"direction":"top"}'>
                            <div class="page-icon-top"><i class="ion ion-ios-people-outline"></i></div>
                            <h6>Interview</h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="tipped" data-title="Step2 - Project Plan" data-tipper-options='{"direction":"top"}'>
                            <div class="page-icon-top"><i class="ion ion-ios-paper-outline"></i></div>
                            <h6>Plan</h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="tipped" data-title="Step3 - Design" data-tipper-options='{"direction":"top"}'>
                            <div class="page-icon-top"><i class="ion ion-ios-compose-outline"></i></div>
                            <h6>Design</h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="tipped" data-title="Step4 - Development" data-tipper-options='{"direction":"top"}'>
                            <div class="page-icon-top"><i class="ion ion-ios-gear-outline"></i></div>
                            <h6>Development</h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="tipped" data-title="Step5 - Testing" data-tipper-options='{"direction":"top"}'>
                            <div class="page-icon-top"><i class="ion ion-ios-pulse"></i></div>
                            <h6>Testing</h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="tipped" data-title="Step6 - Delivery" data-tipper-options='{"direction":"top"}'>
                            <div class="page-icon-top"><i class="ion ion-ios-clock-outline"></i></div>
                            <h6>Delivery</h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Process -->