<div class="form-group" ng-class="{'has-error': error}">
    <label for="" ng-show="label">{{label}} </label>
    <input type="{{type}}" placeholder="{{placeholder}}" ng-model="ngModel" class="form-control {{tagClass}}" ng-disabled="disabled" style="{{inputStyle}}" ng-required="{{required}}" tabindex="{{tabindex}}">
    <span class="input-group-addon" ng-show="append">{{append}}</span>
    <span class="help-block" ng-show="legende">{{legende}}</span>
    <ul class="parsley-errors-list filled" ng-show="error"><li>{{error}}</li></ul>
</div>