<div ng-controller="FormElementsIndexCtrl">


    <div ng-bind-html="log"></div>

    <div class="row">

        <div class="col-md-9">

            <h3 class="page-header mt0">
                <div class="pull-right">
                    <a ng-click="editFormElement();" class="btn btn-success btn-xs"><i class="fa fa-plus-square"></i> Créer un élément de formulaire</a>
                </div>
                <span>Liste des éléments de formulaires</span>
            </h3>

            <div class="panel panel-info">

                <div class="table-responsive" ng-show="FormElements">
                    <table id="table-ext-3" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width:100px;">Action</th>
                                <th>Nom</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="FormElement in FormElements track by $index">
                                <td>
                                    <a class="btn btn-primary btn-xs" ng-click="editFormElement($index);"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-danger btn-xs" ng-click="delete($index)"><i class="fa fa-trash-o"></i></a>
                                </td>
                                <td>{{FormElement.FormElement.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-body text-center" ng-hide="FormElements">
                    Il n'y a actuellement pas d'éléments de formulaire, <a href="#/app/formulaire_elements/edit/">souhaitez vous en créer un</a> ?
                </div>

            </div>

        </div>

        <div class="col-md-3">

            <h3 class="page-header mt0">Le formulaire</h3>

            <form ng-submit="edit();">

                <div id="panelPublication" class="panel panel-info">
                    <div class="panel-heading"><i class="fa fa-save"></i> Publication
                    </div>
                    <div class="panel-body">

                        <whform label="Nom : " ng-model="data.Form.name"></whform>
                        <whform label="Rubrique parente : " ng-model="data.Form.page_id" options="Rubriques" obj="true"></whform>
                        <a href="{{data.Page.url}}" ng-show="data.Page.url" target="_blank">Voir le formulaire</a>
                        <hr/>

                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="data.Form.etat_id" name="data[Actualite][etat_id]" value="publish" /> Publier
                                immédiatemment
                            </label>
                        </div>
                        <div class="radio">
                            <label class="text-danger">
                                <input type="radio" ng-model="data.Form.etat_id" name="data[Actualite][etat_id]" value="draft"  />
                                Enregistrer en brouillon
                            </label>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12 text-right"><button type="submit" ng-disabled="Form.$invalid" class="btn btn-sm btn-success"><i class=""></i>
                                Enregistrer</button></div>
                        </div>
                    </div>

                    <div collapse="panelPublication" class="panel-wrapper"></div>

                </div>

            </form>


        </div>

    </div>

</div>

<script type="text/ng-template" id="/edit.html">
    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="cancel()">×</button>
        <h4 id="myModalLabel" class="modal-title">Edition d'un élément de formulaire</h4>
    </div>
    <form ng-action="ok()">
        <div class="modal-body">

            <div class="row">

                <div class="col-md-6">
                    <whform label="Nom de l'élément : " ng-model="data.FormElement.name"></whform>
                    <whform label="Nom court (Maximum 16 caractères) : " ng-model="data.FormElement.short_name"></whform>
                    <whform label="Type de l'élément : " ng-model="data.FormElement.type" options="tagTypes" obj="true" ></whform>
                    <whform label="Obligatoire ?" ng-model="data.FormElement.mandatory" options="choixCheck" obj="true" ></whform>
                </div>
                <div class="col-md-6">


                    <div ng-include="'app_admin/views/formulaire_elements/sub_type/input.html'" ng-show="data.FormElement.type == 'input'" ></div>
                    <div ng-include="'app_admin/views/formulaire_elements/sub_type/select.html'" ng-show="data.FormElement.type == 'select'" ></div>
                    <div ng-include="'app_admin/views/formulaire_elements/sub_type/textarea.html'" ng-show="data.FormElement.type == 'textarea'" ></div>


                    <!--
                    <whform label="Sous-type d'élément : " ng-model="data.FormElement.sub_type" options="tagTypes" obj="true" ></whform>
                    <whform label="Nom du champ : " ng-model="data.FormElement.configuration.name"></whform>
                    <whform label="Taille du champ : " ng-model="data.FormElement.configuration.size"></whform>
                    <whform label="Taille max du champ : " ng-model="data.FormElement.configuration.max_size"></whform>
                    <whform label="Valeur par défaut : " ng-model="data.FormElement.configuration.value"></whform>
                    <whform label="Liste des possibilités (séparées par des virgules) : " ng-model="data.FormElement.configuration.options" tag="textarea" ></whform>
                    <whform label="Multiple ?" ng-model="data.FormElement.configuration.multiple" options="choixCheck" obj="true" ></whform>
                    <whform ng-model="data.FormElement.id" type="hidden" ></whform>
                    -->
                </div>

            </div>


        </div>
        <div class="modal-footer">
            <button ng-click="ok()" class="btn btn-primary">OK</button>
            <button ng-click="cancel()" class="btn btn-warning">Annuler</button>
        </div>
    </form>
</script>

