<!DOCTYPE html>
<html lang="en" data-ng-app="myAppAdmin">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{app.description}}">
    <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
    <title data-ng-bind="pageTitle()">Angle - Angular Bootstrap Admin Template</title>
    <link rel="stylesheet" href="theme_angle/app/css/app.css" data-ng-if="!app.layout.isRTL">
    <link rel="stylesheet" href="theme_angle/app/css/app-rtl.css" data-ng-if="app.layout.isRTL">
</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed }">
<div data-ui-view="" data-autoscroll="false" data-ng-class="mainViewAnimation" class="wrapper"></div>

<script>
var params = {

    Url : {
        menu : 'app_admin/config/sidebar-menu.json'
    }


}
</script>

<script src="theme_angle/app/js/base.js"></script>
<script src="app_admin/auth-service.js"></script>
<script src="app_admin/app.js"></script>
</body>

</html>
