<div ng-controller="AttributeFamiliesIndexCtrl">

    <ol class="breadcrumb mt0 mb">
        <li><a href="#/app/attributes_families/index/">Liste des familles d'attributs</a></li>
    </ol>

    <h3 class="page-header mt0">
        <div class="pull-right">
            <a href="#/app/attributes_families/edit/" class="btn btn-success btn-xs"><i class="fa fa-plus-square"></i> Créer une nouvelle famille d'attribut</a>
        </div>
        <span>&nbsp;</span>
    </h3>


    <div ng-bind-html="log"></div>

    <div class="row">

        <div class="col-md-3">

            <div class="panel panel-info">

                <div class="panel-heading">Arborescence</div>

                <div class="panel-body tree">

                    <script type="text/ng-template" id="nodes.html">

                        <div nodrag ng-class="{'active' : attributeFamily.AttributeFamily.id && node.AttributeFamily.id == attributeFamily.AttributeFamily.id}">

                            <a nodrag ng-click="toggle(this)" class="btn btn-xs" ng-class="{'btn-success' : attributeFamily.AttributeFamily.id && node.AttributeFamily.id == attributeFamily.AttributeFamily.id, 'btn-default' : node.AttributeFamily.id != attributeFamily.AttributeFamily.id}">
                                <i class="fa" ng-class="{'fa-angle-right': collapsed, 'fa-angle-down': !collapsed}"></i>
                            </a>

                            <a nodrag class="item" href="#/app/attributes_families/index/{{node.AttributeFamily.id}}">{{node.AttributeFamily.name_admin}}</a>
                        </div>

                        <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
                            <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes.html'"></li>
                        </ol>

                    </script>

                    <div ui-tree>
                        <ol ui-tree-nodes="" ng-model="arborescence">
                            <li ng-repeat="node in arborescence" ui-tree-node ng-include="'nodes.html'"></li>
                        </ol>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-9">

            <div class="panel panel-info">

                <div class="panel-heading"><span>Liste des familles d'attribut<span></div>

                <div class="table-responsive" >

                    <table id="table-ext-3" class="table table-striped table-bordered table-hover">

                        <thead>
                            <tr>
                                <th>Action</th>
                                <th></th>
                                <th>Nom admin</th>
                                <th>Nom</th>
                            </tr>
                        </thead>

                        <tbody ui-sortable="sortable" ng-model="attributeFamily.children" >
                            <tr ng-repeat="attributeFamily in attributeFamily.children track by $index">
                                <td>
                                    <a class="btn btn-primary btn-xs" href="#/app/attributes_families/edit/{{attributeFamily.AttributeFamily.id}}"><i class="fa fa-edit"></i> Modifier</a>
                                    <a class="btn btn-danger btn-xs" ng-click="delete($index)"><i class="fa fa-trash-o"></i></a>
                                </td>
                                <td>{{attributeFamily.AttributeFamily.id}}</td>
                                <td><a href="#/app/attributes_families/index/{{attributeFamily.AttributeFamily.id}}">{{attributeFamily.AttributeFamily.name_admin}}</a></td>
                                <td><a href="#/app/attributes_families/index/{{attributeFamily.AttributeFamily.id}}">{{attributeFamily.AttributeFamily.name}}</a></td>
                            </tr>
                        </tbody>

                    </table>

                </div>

            </div>

        </div>


    </div>
</div>